.div {
    width: 280px;
    height: 280px;
    background-color: blue;
}

.div:hover {
    translate: 300px 300px;
    rotate: 35deg;
}
@media (max-width: 1150px) {
    .div {
        background-color: green;
    }
}
@media (max-width: 670px) {
    .div {
        background-color: red;
    }
}